<!-- create-notes.component.html -->
<mat-card class="create-note-card">
  <form (ngSubmit)="submitNote()">
    <mat-card-title>Create New Note</mat-card-title>

    <mat-form-field class="full-width-input">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="newNote.title" name="title" placeholder="Enter the title of the note">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Content</mat-label>
      <textarea matInput [(ngModel)]="newNote.description" name="description" rows="5" placeholder="Write the content here..."></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</mat-card>
