<mat-card class="edit-note-card">
  <form (ngSubmit)="submitNote()">
    <mat-card-title>Editar Nota</mat-card-title>

    <mat-form-field class="full-width-input">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="note.title" name="title">
    </mat-form-field>

    <mat-form-field class="full-width-input">
      <mat-label>Contenido</mat-label>
      <textarea matInput [(ngModel)]="note.description" name="description" rows="5"></textarea>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">Actualizar</button>
      <button mat-button type="button" (click)="cancelEdit()">Cancelar</button>
    </div>
  </form>
</mat-card>
