<h1 mat-dialog-title class="dialog-title">Edit Category</h1>
<div mat-dialog-content class="edit-category-dialog">
  <mat-form-field class="animated-field">
    <mat-label>Category name</mat-label>
    <input matInput [(ngModel)]="category.name" placeholder="Write the name here">
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button action-button" (click)="onCancel()">Cancel</button>
  <button mat-button class="save-button action-button" (click)="onSave()">Save</button>
</div>
